.DS_Store
.dart_tool/

.packages
.pub/

android/.gradle
android/gradle/

build/

.flutter-plugins
# pubspec.lock
.idea/
.vscode/
.idea/workspace.xml
.idea/libraries/Flutter_Plugins.xml
.idea/libraries/Dart_Packages.xml
.idea/codeStyles/Project.xml
